{% extends "base.html" %}

{% block title%}Home{%endblock title%}

{% block body%}

     <!-- HOME -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Job Oriented Programs</h1>
                                             <h3>Data Analytics | AWS | DevOps | Salesforce <br> Full Stack | Full Stack Java | MERN Stack | MEAN Stack</h3>
                                             <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Trending Technologies</h1>
                                             <h3>Artificial Intelligence | Salesforce | Blockchain | RPA <br> ReactJS | PowerBI | Tableau | UI/UX Development
                                             </h3>
                                             <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Instructor-Led Training</h1>
                                             <h3>AWS | DevOps | Machine Learning <br> ReactJS Python | Java | Selenium | TOSCA <a rel="nofollow" href="https://www.facebook.com/templatemo">templatemo</a> page.</h3>
                                             <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>


     <!-- FEATURE -->
     <section id="feature">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>Industry Experts Trainers</h3>
                              <p>Highly qualified & Industry experience professionals for providing real-time scenario based training .</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>Flexible Batches</h3>
                              <p>Multiple batches & Support systems to make sure you can learn according to your convenience .</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>Placement Assistance</h3>
                              <p>After training completion, we provide job assistance, schedule interview for every individual .</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <h2>Welcome To The 3RI Technologies</h2>

                              {% comment %} <figure>
                                   <span><i class="fa fa-users"></i></span>
                                   <figcaption> {% endcomment %}
                                        <h3>OUR MISSION</h3>
                                        Increase the value of our courses, services, relationships, information and trust. <br><br> 
                                        Meet the expectations of our students, employees holisticallly, and develop a long lasting, fruitfull relationship, goodness, and oneness with all. <br><br>
                                        Impart practical and quality Computer & Vocational training and prepare Individuals for high leveled National and International Careers.</p>
                                        
                                   {% comment %} </figcaption>
                              </figure> {% endcomment %}

                             
                                        <h3>OUR VISION</h3>
                                        <p>To Empower the common youth by incorporating skills into them to achieve their Peak-Potential & serve the Nation.</p>

                         </div>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-12">
                         {% comment %} <div class="entry-form"> {% endcomment %}
                              {% comment %} <form action="#" method="post"> {% endcomment %}
                                 
                                   <h3>OUR COURSES</h3>
                                   <ul type="square">
                                        <li>Cloud Computing: AWS, Azure and Google Cloud</li>
                                        <li>Data Analytics: Hadoop 2.X, Spark & Scala ETL, and Tableau</li>
                                        <li>Data Analysis: Data Science, Machine Learning & <br> Python, R</li>
                                        <li>Programming Languages: Java, J2EE, Spring <br>Hibernate, C#, ASP.NET, MVC</li>
                                        <li>Software Testing: Basic Testing, Selenium, Soap <br> UI, Web Services, API Testing, Performance <br> Testing LoadRunner, Jmeter, ETL Testing</li>
                                        <li>Web Designing and Development: HTML, HTML5<br>
                                        CSS CSS3, Javascript, Advanced JS, Bootstrap,<br> DOM,
                                        JQuery, AJAX, PHP Codeigniter, WordPress Joomla</li>
                                        <li>Database: DBMS Cracle SQL PLUSQL, MS SQL Server</li>
                                        <li>Scripting Languages: Shell Scripting Pert Scripting Python</li>
                                        <li>SAP Modules: SAP ABAP MM HR, HOM ABAP on HANA</li>
                                   </ul>
                                   {% comment %} <input type="text" name="full name" class="form-control" placeholder="Full name" required="">

                                   <input type="email" name="email" class="form-control" placeholder="Your email address" required="">

                                   <input type="password" name="password" class="form-control" placeholder="Your password" required="">

                                   <button class="submit-btn form-control" id="form-submit">Get started</button> {% endcomment %}
                              {% comment %} </form>
                         </div> {% endcomment %}
                    </div> 

               </div>
          </div>
     </section>


     <!-- TEAM
     <section id="team">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Teachers <small>Meet Professional Trainers</small></h2>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="/static/images/FemaleIcon.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3>Suvidha Ma'am </h3>
                                   <span>I love Teaching</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="/static/images/FemaleIcon.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3>Gaytri Ma'am</h3>
                                   <span>Education is the key!</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-google"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="/static/images/FemaleIcon.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3>Komal Ma'am</h3>
                                   <span>I like Online Courses</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-envelope-o"></a></li>
                                   <li><a href="#" class="fa fa-linkedin"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="/static/images/FemaleIcon.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3>Rani Ma'am</h3>
                                   <span>Learning is fun</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-google"></a></li>
                                   <li><a href="#" class="fa fa-behance"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </section> -->


     <!-- Courses -->
     <section id="courses">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="/static/images/python.jpg" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 01 / 03 / 2024 </span>
                                                       <span><i class="fa fa-clock-o"></i> 5 months | Online / Offline </span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#"> STEP in Python FullStack </a></h3>
                                                  <p> Make your career in the most demanding technology and get placed as python Full-stack Developer in top MNC's with Placement Assurance. </p>
                                             </div>

                                             <!-- <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="/static/images/author-image1.jpg" class="img-responsive" alt="">
                                                       <span>Mark Wilson</span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="#"><span>USD 25</span></a>
                                                  </div>
                                             </div> -->
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="/static/images/Java.jpg" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 01 / 03 / 2024 </span>
                                                       <span><i class="fa fa-clock-o"></i> 5 months | Online / Offline </span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#"> STEP in Java FullStack </a></h3>
                                                  <p> Learn the world's most Popular & strong technology and become a FullStack Java professionals in the world's best IT Compaies, with our Placement Assurance . </p>
                                             </div>

                                             <!-- <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="/static/images/author-image2.jpg" class="img-responsive" alt="">
                                                       <span>Jessica</span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="#"><span>USD 80</span></a>
                                                  </div>
                                             </div> -->
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="/static/images/SoftwareTesting.jpg" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 01 / 03 / 2024 </span>
                                                       <span><i class="fa fa-clock-o"></i> 5 months | Online / Offline </span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#"> STEP in S/W Testing </a></h3>
                                                  <p> Learn industry's best technologies functional training for Manual & Automation Testing with our top-notch trainers along with Placement Assurance</p>
                                             </div>

                                             <!-- <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="/static/images/author-image3.jpg" class="img-responsive" alt="">
                                                       <span>Catherine</span>
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Free</span></a>
                                                  </div>
                                             </div> -->
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="/static/images/Devops.jpg" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 01 / 03 / 2024 </span>
                                                       <span><i class="fa fa-clock-o"></i> 5 months | Online / Offline </span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#"> STEP in DevOps </a></h3>
                                                  <p> Learn DevOps at an affordable amount of time and investment along with learning to work on industry-based projects. It is end to end Learning with Placement Assurance . </p>
                                             </div>

                                             <!-- <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="/static/images/Java.jpg" class="img-responsive" alt="">
                                                       <span>Mark Wilson</span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="#"><span>USD 45</span></a>
                                                  </div>
                                             </div> -->
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="/static/images/CloudComputing.jpg" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 01 / 03 / 2024 </span>
                                                       <span><i class="fa fa-clock-o"></i> 5 months | Online / Offline </span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#"> STEP in Cloud Computing </a></h3>
                                                  <p> Make your career in the most demanding technology and get placed as fresher cloud computing engineer in MNC's. STEP in Cloud Computing is Placement Assurance training with guranteed results . </p>
                                             </div>

                                             <!-- <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="/static/images/author-image2.jpg" class="img-responsive" alt="">
                                                       <span>Jessica</span>
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Free</span></a>
                                                  </div>
                                             </div>
                                        </div> -->
                                   </div>
                              </div>

                         </div>

               </div>
          </div>
     </section>


     {% comment %} <!-- TESTIMONIAL -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Student Reviews <small>from around the world</small></h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-client">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="/static/images/tst-image1.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Jackson</h4>
                                             <span>Shopify Developer</span>
                                        </div>
                                        <p>You really do help young creative minds to get quality education and professional job search assistance. I’d recommend it to everyone!</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="/static/images/tst-image2.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Camila</h4>
                                             <span>Marketing Manager</span>
                                        </div>
                                        <p>Trying something new is exciting! Thanks for the amazing law course and the great teacher who was able to make it interesting.</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="/static/images/tst-image3.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Barbie</h4>
                                             <span>Art Director</span>
                                        </div>
                                        <p>Donec erat libero, blandit vitae arcu eu, lacinia placerat justo. Sed sollicitudin quis felis vitae hendrerit.</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="/static/images/tst-image4.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Andrio</h4>
                                             <span>Web Developer</span>
                                        </div>
                                        <p>Nam eget mi eu ante faucibus viverra nec sed magna. Vivamus viverra sapien ex, elementum varius ex sagittis vel.</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
          </div>
     </section>  {% endcomment %}


     {% comment %} <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="/static/images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                         </div>
                    </div>

               </div>
          </div>
     </section>        {% endcomment %}


     {% comment %} <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Headquarter</h2>
                              </div>
                              <address>
                                   <p>1800 dapibus a tortor pretium,<br> Integer nisl dui, ABC 12000</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2019 Company Name</p>
                                   
                                   <p>Design: TemplateMo</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+65 2244 1100, +66 1800 1100</p>
                                   <p><a href="mailto:youremail.co">hello@youremail.co</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
                                        <li><a href="#">Career</a></li>
                                        <li><a href="#">Investor</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Refund Policy</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Newsletter Signup</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <form action="#" method="get">
                                             <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                             <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                        </form>
                                        <span><sup>*</sup> Please note - we do not spam your email.</span>
                                   </div>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>

 
     <!-- SCRIPTS -->
     <script src="/static/js/jquery.js"></script>
     <script src="/static/js/bootstrap.min.js"></script>
     <script src="/static/js/owl.carousel.min.js"></script>
     <script src="/static/js/smoothscroll.js"></script>
     <script src="/static/js/custom.js"></script>  {% endcomment %}

</body>
</html>

{%endblock body%}          